* {
  /* Zera todas margins e paddin do HTML */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colocando a font-size padrão  valendo 10px cada 1 rem */
  font-size: 62.5%;

  /* Criação de variável de fonte */
  --ff-body: 'arial', sans-serif;

  /* cor para os links A */
  --cl-link: #ee2211;
  --cl-link-strong: #990000;

  /* Cor boddy */
  --cl-boddy-primaria: #ffffff;

  /* cor background */
  --bg-boddy: #f7f7f7;


  /* Cor texto */
  --texto: #000000
}

body {
  /* Inclui a variavel fonte do root no font-family */
  font-family: var(--ff-body);
  
  /* cor de texto */
  color: var(--texto);
  
  /* mudando a cor de fundo do corpo */
  background: var(--bg-boddy);
  
  /* colocando o tamanho dos textos em 16px */
  font-size: 1.6rem;

}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  /* retirar o sublinhado da lista */
}

img {
  max-width: 100%;
  display: block;
  /* deixando a imagem com largura maxima dela para não ficar estourando a tela toda */
}

header {

  margin-top: 4rem;
  display: grid;
  /* deixando em grid para poder manipular e alinhar o conteudo */

  gap: 5.0rem;
  /* deixando um gap entre o h1 e menu de navegacao */


}

.svg-header {
  margin: 0 auto;
}

header ul {
  display: flex;
  gap: 2.0rem;
  list-style: none;
  /* retirando as bolinhas da lista */

  flex-wrap: wrap;
  /* quando a tela dor diminuindo ele ir quebrando  */
  justify-content: center;
  /* quando ele for quebrando ir alinhando ao centro */
}

header ul li a {
  display: block;
  color: var(--texto);
  background-color: var(--cl-boddy-primaria);

  padding: 1.5rem 3.0rem;
  border-radius: 4px;
  margin-bottom: 3.0rem;
  border: 2px solid var(--cl-boddy-primaria);
  border-left: 4px solid var(--cl-boddy-primaria);
}

header a:hover {
  padding-left: 30px;
  border-left: 4px solid var(--cl-link);
  display: inline-block;
}

header a:focus {
  border: 2px solid var(--cl-link);
  outline: none;
}


#intro {
  position: relative;
}

a,
h3 {
  transition: .2s;
}

#intro h2::before {
  position: absolute;
  content: "";
  top: 3rem;
  right: -3rem;
  width: 6rem;

  border: 2px solid var(--cl-link);
}

#intro a:hover {
  background-color: var(--cl-link);
  font-weight: bold;
}

#intro a:focus {
  border: 4px solid var(--cl-link);
  outline: none;
}

#conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  /* border: 2px red solid; */
  margin: 0 auto;
}

article#intro {
  background-color: var(--cl-boddy-primaria);
  display: grid;
  align-content: center;
  gap: 2rem;
  justify-items: end;
  padding: 4rem;
  text-align: right;
}


article#intro a {
  background-color: var(--cl-link);
  color: var(--cl-boddy-primaria);
  padding: 1.5rem 3.0rem;
  border-radius: 4px;
  text-transform: uppercase;
}

#advantage-bikcraft {
  display: grid;
  background-color: var(--bg-boddy);
}

#advantage-bikcraft h2 {
  display: grid;
  align-content: center;
  font-size: 6.4rem;
  text-align: center;
  text-transform: uppercase;

  color: #c6c6c6;

  background-image: url(https://raw.githubusercontent.com/luucas-a/Bikcraft/0d126c1ce666d5e8c39126488f16da624692b328/img/onda.svg);
}

#advantage-bikcraft {
  position: relative;
}

#advantage-bikcraft h2:hover {
  font-size: 7rem;
  transition: 0.5s;
}

#advantage {
  background-color: var(--cl-boddy-primaria);
  display: grid;
}

.advantage-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 2rem;
  padding: 4rem;
}

.advantage-item p {
  grid-column: 2;
}

.advantage-item:hover {
  padding-left: 30px;
  border-left: 4px solid var(--cl-link);
}

.advantage-item:nth-child(odd) {
  background-color: var(--bg-boddy);
}

footer p {
  background-color: var(--cl-boddy-primaria);
  padding: 4rem;
  text-align: center;
}

@media (max-width: 780px) {

  #conteudo,
  #title,
  ul {
    /* border: 2px solid red; */
    grid-template-columns: 1fr;
    max-width: 550px;
    margin: 0 auto;
  }

  #intro h2::before {
    display: none;
  }

  article#intro {
    text-align: center;
  }

  article#intro a,
  #title-primary {
    margin: 0 auto;
  }
}